<section id="blog" class="tal-container"  ng-controller="BlogItemCtrl">
    <div class="tal-container">
        <div class="well well-sm" style="min-height: 300px">
           <div style="color: #0088cc;font-size: 30px;margin-top: 10px">כותרת המודעה</div>
            <div style="position:relative;color: #444444;font-size: 18px;margin-top: 10px">פורסם ע"י Tal Kaminsky - בתאריך 19/10/1014</div>
            <br>
            <div class="pb-title">
                <a style="font-family:'felix007Medium',Geneva,sans-serif;font-size:25px;color: #444444" href="">מחיר : 500 ש"ח</a></h3>
            </div>
            <br>
            <div style="position:relative;color: #444444;font-size: 18px;margin-top: 10px">מיטה זוגית יפיפייה לבנה + 2 שידות צד בעלות 2 מגירות כל אחת. נרכש לפני כ-3 שנים. נמכר עקב מעבר דירה. במצב מצוין. מומלץ מאוד!!
                מכר עקב מעבר דירה. במצב מצוין. מומלץ מאוד!!</div>
            <br>

            <div class="col-md-12" style=" border: 1px solid;border-color: #444444; border-radius: 5px;min-height: 50px">
                <img class="tal-img" src="../images/bad1.jpg" style="padding: 5px" alt="תמונה 1"  >
                <img class="tal-img" src="../images/bad1.jpg" style="padding: 5px" alt="תמונה 1"  >
                <img class="tal-img" src="../images/bad1.jpg" style="padding: 5px" alt="תמונה 1"  >
            </div>
        </div>
    </div>
</section><!--/#blog-->

