 <section id="main-slider" class="no-margin" ng-controller="MainCtrl">

     <center>
         <div class="row title-panel">
             <div style="padding-top: 1%"> קיר יד שנייה</div>
         </div>

         <center>
             <div class="search-panel">
                 <i class="fa fa-search search-btn" style="padding-top: 10px" ng-click="">&nbsp;</i>
                 <input autocomplete="off" id="header-s" name="s" type="text" value="" placeholder="חיפוש חופשי"
                        class="search-bar" style="width: 80%">
                 <div class="clear"></div>
                 <center>
                     <div style="width: 85%;margin-left: 1.5%">
                     <select class="combobox">
                         <option value="">בחר אזור</option>
                         <option value="PA">Pennsylvania</option>
                         <option value="CT">Connecticut</option>
                         <option value="NY">New York</option>
                         <option value="MD">Maryland</option>
                         <option value="VA">Virginia</option>
                     </select>
                     <select class="combobox">
                         <option value="">בחר אזור</option>
                         <option value="PA">Pennsylvania</option>
                         <option value="CT">Connecticut</option>
                         <option value="NY">New York</option>
                         <option value="MD">Maryland</option>
                         <option value="VA">Virginia</option>
                     </select>
                     <select class="combobox">
                         <option value="">בחר אזור</option>
                         <option value="PA">Pennsylvania</option>
                         <option value="CT">Connecticut</option>
                         <option value="NY">New York</option>
                         <option value="MD">Maryland</option>
                         <option value="VA">Virginia</option>
                     </select>
                     <select class="combobox">
                         <option value="">בחר אזור</option>
                         <option value="PA">Pennsylvania</option>
                         <option value="CT">Connecticut</option>
                         <option value="NY">New York</option>
                         <option value="MD">Maryland</option>
                         <option value="VA">Virginia</option>
                     </select>
                 </div>
                 </center>
             </div>
         </center>

     </center>

    <div style="margin-left: auto; margin-right: auto;width: 90%" >

        <div class="project-card" style="float: right">
            <div class="pb-container completed">

                <div class="pb-title">
                    <a style="font-family:'felix007Medium',Geneva,sans-serif;font-size:22px " href="">כנפיים של קרמבו &#8211; גם ברמלה!</a></h3>
                </div>

                <div class="pb-content">
                    <p> מודעה לפרסום מודעה לפסום מודעה לפרסום מודעה לפסום מודעה לפרסום מודעה לפסום</p>
                </div>


                <!--<div class="circular" style=" background: url('../images/badpic.jpg') no-repeat;"></div>-->

                <div class="pb-image"><a href=""><img class="pb-inner-img" src="../images/badpic.jpg"></a></div>

                <div class="pb-title">
                    <span>מפרסם : Tal Kaminsky</span>
                </div>

                <div class="pb-summary">
                    <div style="margin-right: 5%">
                        <div class="pb-funded">
                                <span><i class="fa fa-thumbs-up pb-comment-like" ng-click="">&nbsp; 123</i></span>
                        </div>

                        <div class="pb-sreach" style="margin-right: 25%">
                                <span><i class="fa fa-comment pb-comment-like" ng-click="">&nbsp; 456</i></span>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="project-card" style="float: right">
            <div class="pb-container completed">

                <div class="pb-title">
                    <a style="font-family:'felix007Medium',Geneva,sans-serif;font-size:22px " href="">כנפיים של קרמבו &#8211; גם ברמלה!</a></h3>
                </div>

                <div class="pb-content">
                    <p> מודעה לפרסום מודעה לפסום מודעה לפרסום מודעה לפסום מודעה לפרסום מודעה לפסום</p>
                </div>


                <!--<div class="circular" style=" background: url('../images/badpic.jpg') no-repeat;"></div>-->

                <div class="pb-image"><a href=""><img class="pb-inner-img" src="../images/badpic.jpg"></a></div>

                <div class="pb-title">
                    <span>מפרסם : Tal Kaminsky</span>
                </div>

                <div class="pb-summary">
                    <div style="margin-right: 5%">
                        <div class="pb-funded">
                            <span><i class="fa fa-thumbs-up pb-comment-like" ng-click="">&nbsp; 123</i></span>
                        </div>

                        <div class="pb-sreach" style="margin-right: 25%">
                            <span><i class="fa fa-comment pb-comment-like" ng-click="">&nbsp; 456</i></span>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="project-card" style="float: right">
            <div class="pb-container completed">

                <div class="pb-title">
                    <a style="font-family:'felix007Medium',Geneva,sans-serif;font-size:22px " href="">כנפיים של קרמבו &#8211; גם ברמלה!</a></h3>
                </div>

                <div class="pb-content">
                    <p> מודעה לפרסום מודעה לפסום מודעה לפרסום מודעה לפסום מודעה לפרסום מודעה לפסום</p>
                </div>


                <!--<div class="circular" style=" background: url('../images/badpic.jpg') no-repeat;"></div>-->

                <div class="pb-image"><a href=""><img class="pb-inner-img" src="../images/badpic.jpg"></a></div>

                <div class="pb-title">
                    <span>מפרסם : Tal Kaminsky</span>
                </div>

                <div class="pb-summary">
                    <div style="margin-right: 5%">
                        <div class="pb-funded">
                            <span><i class="fa fa-thumbs-up pb-comment-like" ng-click="">&nbsp; 123</i></span>
                        </div>

                        <div class="pb-sreach" style="margin-right: 25%">
                            <span><i class="fa fa-comment pb-comment-like" ng-click="">&nbsp; 456</i></span>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="project-card" style="float: right">
            <div class="pb-container completed">

                <div class="pb-title">
                    <a style="font-family:'felix007Medium',Geneva,sans-serif;font-size:22px " href="">כנפיים של קרמבו &#8211; גם ברמלה!</a></h3>
                </div>

                <div class="pb-content">
                    <p> מודעה לפרסום מודעה לפסום מודעה לפרסום מודעה לפסום מודעה לפרסום מודעה לפסום</p>
                </div>


                <!--<div class="circular" style=" background: url('../images/badpic.jpg') no-repeat;"></div>-->

                <div class="pb-image"><a href=""><img class="pb-inner-img" src="../images/badpic.jpg"></a></div>

                <div class="pb-title">
                    <span>מפרסם : Tal Kaminsky</span>
                </div>

                <div class="pb-summary">
                    <div style="margin-right: 5%">
                        <div class="pb-funded">
                            <span><i class="fa fa-thumbs-up pb-comment-like" ng-click="">&nbsp; 123</i></span>
                        </div>

                        <div class="pb-sreach" style="margin-right: 25%">
                            <span><i class="fa fa-comment pb-comment-like" ng-click="">&nbsp; 456</i></span>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="project-card" style="float: right">
            <div class="pb-container completed">

                <div class="pb-title">
                    <a style="font-family:'felix007Medium',Geneva,sans-serif;font-size:22px " href="">כנפיים של קרמבו &#8211; גם ברמלה!</a></h3>
                </div>

                <div class="pb-content">
                    <p> מודעה לפרסום מודעה לפסום מודעה לפרסום מודעה לפסום מודעה לפרסום מודעה לפסום</p>
                </div>


                <!--<div class="circular" style=" background: url('../images/badpic.jpg') no-repeat;"></div>-->

                <div class="pb-image"><a href=""><img class="pb-inner-img" src="../images/badpic.jpg"></a></div>

                <div class="pb-title">
                    <span>מפרסם : Tal Kaminsky</span>
                </div>

                <div class="pb-summary">
                    <div style="margin-right: 5%">
                        <div class="pb-funded">
                            <span><i class="fa fa-thumbs-up pb-comment-like" ng-click="">&nbsp; 123</i></span>
                        </div>

                        <div class="pb-sreach" style="margin-right: 25%">
                            <span><i class="fa fa-comment pb-comment-like" ng-click="">&nbsp; 456</i></span>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
 </section><!--/#main-slider-->
