 <section id="main-slider" class="no-margin" ng-controller="MainCtrl">
     <div class="row" style="padding-bottom:1% ">
         <center>
          <div id="signinButton">
              <span class="g-signin"
                data-scope="https://www.googleapis.com/auth/plus.login"
                data-clientid="823912941478-rvhn5fcrdfpt6st9cf5jnik0pb03tb5e.apps.googleusercontent.com"
                data-redirecturi="postmessage"
                data-accesstype="offline"
                data-cookiepolicy="single_host_origin"
                data-callback="signInCallback">
              </span>
         </div>
         <div>
             <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
         </div>
        <div id="result"></div>

        <div class="row">
                    <div class="col-md-12 text-center">
                        <!-- Add where you want your sign-in button to render -->
                        <div id="result"></div>
                    </div> <!-- /.col-md-12 -->
        </div> <!-- /.row -->
         </center>
     </div>
 </section><!--/#main-slider-->
