<section id="newPost" class="container" ng-controller="NewPostCtrl">
  <div class="container">
	<div class="row">
      <div class="col-md-12">
        <div class="well well-sm">
          <center>
          <fieldset>
            <legend class="text-center header" style="font-family:'felix007Medium',Geneva,sans-serif;font-size: 25px">מודעה חדשה</legend>
              <div class="col-md-12">
                <input id="lname" name="post.title" ng-model="post.title" type="text" placeholder="כותרת" class="form-control">
              </div>
    
              <div class="col-md-12">
                <textarea class="form-control-small"  rows="10" name="post.content" ng-model="post.content" name="message" placeholder="תוכן הודעה"></textarea>
              </div>
              <div class="col-md-12 text-center">
                <button ng-click="save()" style="width: 100px;background-color:#0088cc;font-family: font-family:'felix007Medium',Geneva,sans-serif;">שלח</button>
              </div>
          </fieldset>
         </center>
        </div>
      </div>
	</div>
</div>
</section><!--/#blog-->
